.detail-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 780px;
}
.detail-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 10px;
}
.detail-head .word {
  font-size: 72px;
}
.detail-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.detail-body .translate {
  display: flex;
  justify-content: center;
  gap: 48px;
  font-size: 28px;
  padding-top: 30px;
}
.detail-body .soundmark {
  display: flex;
  justify-content: center;
}
.detail-body .samples {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 64vw;
  font-size: 20px;
  border-radius: 10px;
  padding: 16px;
  background-color: var(--contentBg);
  box-shadow: 0 2px 4px var(--contentBgShadow);
}
.detail-body .distortion {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 64vw;
  border-radius: 10px;
  padding: 16px;
  background-color: var(--contentBg);
  box-shadow: 0 2px 4px var(--contentBgShadow);
}

.detail-body .phrase {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 64vw;
  border-radius: 10px;
  padding: 16px;
  background-color: var(--contentBg);
  box-shadow: 0 2px 4px var(--contentBgShadow);
}
.RightOutlined {
  position: absolute;
  right: 0;
  font-size: 64px;
  color: rgb(226, 247, 90);
}
.RightOutlined:hover {
  background-color: #5f773a;
  border-radius: 8px;
}
.audio {
  position: relative;
  top: 4px;
  max-width: 35px;
  max-height: 35px;
  filter: grayscale(100%);
}
.audio:hover {
  filter: grayscale(0%);
}
.audio-active {
  filter: grayscale(0%);
}
.detail-body .content-tag{
  font-size: 18px;
  font-weight: 600;
}