.detail-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.detail-head {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  margin-left: 6%;
  margin-bottom: 20px;
}
.detail-head .word {
  font-size: 64px;
  letter-spacing: 2px;
  color: var(--text-color1);
}
.detail-head .soundmark {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  gap: 10px;
}
.audio {
  position: relative;
  max-width: 28px !important;
  max-height: 28px !important;
  filter: grayscale(100%);
}
.audio:hover {
  filter: grayscale(0%);
}
.audio-active {
  filter: grayscale(0%);
}
.StarOutlined {
  font-size: 24px;
  margin-left: 4px;
  color: #999b9f !important;
}
.StarOutlined:hover {
  color: #ffa616 !important;
}
.StarFilled {
  font-size: 24px;
  margin-left: 4px;
  color: #ffa616 !important;
}
.translate {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 20px;
  margin-bottom: 12px;
}
.translate p {
  color: var(--text-color1);
  line-height: 1.6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
  min-width: 100px;
}
.detail-body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.detail-body .samples {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 90%;
  font-size: 20px;
  border-radius: 16px;
  padding: 8px 16px 16px 16px;
  background-color: var(--contentBg) !important;
  box-shadow: 0 6px 16px var(--contentBgShadow2);
  color: var(--text-color2);
}
.detail-body .distortion {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 90%;
  border-radius: 16px;
  padding: 8px 16px 16px 16px;
  background-color: var(--contentBg);
  box-shadow: 0 6px 16px var(--contentBgShadow2);
  margin-bottom: 40px;
  color: var(--text-color2);
}

.detail-body .phrase {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 90%;
  border-radius: 16px;
  padding: 8px 16px 16px 16px;
  background-color: var(--contentBg);
  box-shadow: 0 6px 16px var(--contentBgShadow2);
  color: var(--text-color2);
}
.phrase-list {
  display: flex;
  flex-wrap: wrap; /* 允许元素换行 */
  gap: 10px;
}

.phrase-list span {
  padding: 5px;
}
.RightOutlined {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 10vw;
  font-size: 80px;
}
.RightOutlined:hover {
  background-color: #c4c1c1;
  border-radius: 8px;
}

.detail-body .content-tag {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 600;
  color: var(--contentTag);
}
.forget-word {
  color: #ff4000;
}

.samples-item {
  display: flex;
  margin-bottom: 8px;
}
.samples-item:last-child {
  margin-bottom: 0;
}
