.detail-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 780px;
}
.detail-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.detail-head .word {
  font-size: 56px;
}
.detail-head .soundmark {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap:10px
}
.audio {
  position: relative;
  max-width: 32px;
  max-height: 32px;
  filter: grayscale(100%);
}
.audio:hover {
  filter: grayscale(0%);
}
.audio-active {
  filter: grayscale(0%);
}
.detail-body {
  position: relative;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.detail-body .translate {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 20px 0;
}

.detail-body .samples {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 1200px;
  font-size: 18px;
  border-radius: 10px;
  padding: 16px;
  background-color: var(--contentBg);
  box-shadow: 0 2px 4px var(--contentBgShadow);
}
.detail-body .distortion {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 1200px;
  border-radius: 10px;
  padding: 16px;
  background-color: var(--contentBg);
  box-shadow: 0 2px 4px var(--contentBgShadow);
}

.detail-body .phrase {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 1200px;
  border-radius: 10px;
  padding: 16px;
  background-color: var(--contentBg);
  box-shadow: 0 2px 4px var(--contentBgShadow);
}
.RightOutlined {
  position:fixed;
  right: 3vw;
  font-size: 80px;
  color: rgb(226, 247, 90);
}
.RightOutlined:hover {
  background-color: #5f773a;
  border-radius: 8px;
}

.detail-body .content-tag {
  font-size: 18px;
  font-weight: 600;
}
