.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.detail-head {
  position: relative;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.detail-head .word {
  font-size: 64px;
  letter-spacing: 2px;
}
.detail-head .soundmark {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 10px;
}
.audio {
  position: relative;
  max-width: 32px;
  max-height: 32px;
  filter: grayscale(100%);
}
.audio:hover {
  filter: grayscale(0%);
}
.audio-active {
  filter: grayscale(0%);
}
.detail-body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.detail-body .translate {
  position: relative;
  left: 8px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 10px 0;
  width: 50vw;
}

.detail-body .samples {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 80vw;
  font-size: 18px;
  border-radius: 10px;
  padding: 16px;
  background-color: var(--contentBg);
  box-shadow: 0 2px 4px var(--contentBgShadow);
}
.detail-body .distortion {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 80vw;
  border-radius: 10px;
  padding: 16px;
  background-color: var(--contentBg);
  box-shadow: 0 2px 4px var(--contentBgShadow);
}

.detail-body .phrase {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 80vw;
  border-radius: 10px;
  padding: 16px;
  background-color: var(--contentBg);
  box-shadow: 0 2px 4px var(--contentBgShadow);
}
.phrase-list {
  display: flex;
  flex-wrap: wrap; /* 允许元素换行 */
  gap: 10px;
}

.phrase-list span {
  padding: 5px;
}
.RightOutlined {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 3vw;
  font-size: 80px;
}
.RightOutlined:hover {
  background-color: #c4c1c1;
  border-radius: 8px;
}

.detail-body .content-tag {
  font-size: 18px;
  font-weight: 600;
  color: var(--contentTag);
}
.forget-word {
  color: #ff591d;
}
.ant-divider-horizontal {
  margin: 0 !important;
}
.StarOutlined {
  position: relative;
  top: 1px;
  font-size: 26px;
  margin-left: 4px;
  color: #999b9f !important;
}
.StarOutlined:hover {
  color: #ffa616 !important;
}
.StarFilled {
  position: relative;
  top: 1px;
  font-size: 26px;
  margin-left: 4px;
  color: #ffa616 !important;
}
