.word-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.head span {
  font-family: 'Courier New', Courier, monospace;
  font-size: 68px;
  color: var(--text-color1);
}
.head div {
  text-align: center;
  font-size: 16px;
}
.know-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
}
.know-body .divider {
  width: 100%;
  height: 1px; 
  background-color: #ccc; 
  margin: 16px 0; 
}
.know-body span {
  font-size: 18px;
  border: 2px solid transparent; /* 初始时无边框 */
  border-radius: 5px; /* 圆角 */
  padding: 20px;
  width: 500px; /* 缩小宽度以适应内容 */
  display: inline-block; /* 让元素水平排列 */
  cursor: pointer; /* 鼠标悬停时显示指针样式 */
  text-align: center; /* 文本居中 */
  transition: all 0.3s ease; /* 添加过渡效果 */
}

.know-active,
.forget-active {
  background-color: #001529; /* 活跃状态的背景颜色 */
  color: #ffffff; /* 活跃状态的文本颜色 */
  border-color: #001529; /* 活跃状态的边框颜色 */
}
.know-body span:last-child {
  border-top: none;
}
.know-body span:hover {
  background-color: #209e85;
  color: white;
}
.know-active {
  background-color: #209e85;
  color: white;
}
.forget-active {
  background-color: #9e2020;
  color: white;
}
.know-body span:last-child:hover {
  background-color: #9e2020;
  color: white;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.audio {
  max-width: 35px;
  max-height: 35px;
  filter: grayscale(100%);
}
.audio:hover {
  filter: grayscale(0%);
}
.audio-active {
  filter: grayscale(0%);
}
.word-statistic {
  position: absolute;
  top: 2%;
  left: 2%;
}
.ant-statistic-title {
  color: var(--text-color) !important;
}
.ant-statistic-content-value-int {
  color: var(--ant-statistic-content-value) !important;
}
.ant-statistic-content-suffix {
  color: var(--text-color) !important;
}
