* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 850px) {
  .logo {
    display: none;
  }
}
:root {
  --primary-color: #f5deb3;
  --text-color: rgba(0, 0, 0, 0.8);
  --background-color1: #fff;
  --background-color2: #f5f5f5;
  --colorBgElevated: #ffffff;
  --contentBg: #f5f5f5;
  --contentBgShadow: rgba(0, 0, 0, 0.1);
  --headerShadow: rgba(38, 93, 221, 0.6);
  --ant-statistic-content-value: rgb(30, 227, 79);
}
html[data-theme='dark'] {
  --primary-color: #f5deb3;
  --text-color: rgba(255, 255, 255, 0.8);
  --background-color1: #121212;
  --background-color2: #000000;
  --colorBgElevated: #f5deb300;
  --contentBg: rgba(69, 62, 62, 0.348);
  --contentBgShadow: rgba(255, 255, 255, 0.1);
  --headerShadow: rgba(16, 0, 240, 0.6);
  --ant-statistic-content-value: #16ffe8;
}
html {
  width: 100vw;
}
.header {
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  background-color: #001529;
  padding: 0 80px;
  box-shadow: 0 10px 400px var(--headerShadow);
}
body {
  background-color: var(--background-color2);
  color: var(--text-color);
}
.logo {
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: bold;
  color: var(--primary-color);
}
.logo::before {
  content: '\01F426';
  font-size: 40px;
}
.tool-bar {
  position: absolute;
  right: 80px;
  display: flex;
  align-items: center;
  gap: 40px;
  color: rgb(199, 199, 199);
  font-size: 25px;
}
.Header-Font {
  font-size: 32px;
}
.Header-Font:hover {
  color: var(--primary-color); /* 文本悬停时的颜色 */
}
.main-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 780px;
  width: 95%;
  background-color: var(--background-color1);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}
