* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
@media screen and (max-width: 850px) {
  .logo {
    display: none;
  }
}
@media screen and (max-height: 900px) {
  .Footer {
    display: none;
  }
}
:root {
  --primary-color: #f5deb3;
  --text-color: rgba(0, 0, 0, 0.8);
  --background-color1: #fff;
  --background-color2: #f5f5f5;
  --colorBgElevated: #ffffff;
  --contentBg: #dadde2b1;
  --contentBgShadow: rgba(0, 0, 0, 0.1);
  --headerShadow: rgba(38, 93, 221, 0.6);
  --ant-statistic-content-value: #63bcaf;
  --contentTag: rgba(0, 0, 0, 0.8);
}
html[data-theme='dark'] {
  --primary-color: #f5deb3;
  --text-color: rgba(255, 255, 255, 0.8);
  --background-color1: #121212;
  --background-color2: #000000;
  --colorBgElevated: #f5deb300;
  --contentBg: rgba(69, 62, 62, 0.348);
  --contentBgShadow: rgba(255, 255, 255, 0.1);
  --headerShadow: rgba(16, 0, 240, 0.6);
  --ant-statistic-content-value: #16ffe8;
  --contentTag: #e0f1ffe9;
}
html {
  width: 100vw;
}
.header {
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  background-color: #001529;
  padding: 0 80px;
  box-shadow: 0 10px 400px var(--headerShadow);
}
body {
  background-color: var(--background-color2);
  color: var(--text-color);
}
.logo {
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: bold;
  color: var(--primary-color);
}
.logo::before {
  content: '\01F426';
  font-size: 40px;
}
.tool-bar {
  position: absolute;
  right: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  color: rgb(199, 199, 199);
  font-size: 25px;
}
.tool-bar div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: background-color 0.1s ease;
}
.tool-bar div:hover {
  background-color: rgba(0, 184, 251, 0.5);
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
}
.Header-Font {
  font-size: 32px;
}
.main-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 780px;
  width: 95%;
  background-color: var(--background-color1);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}
.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 32px;
  line-height: 32px;
}
