* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
@media screen and (max-width: 850px) {
  .logo {
    display: none;
  }
  .ant-float-btn {
    display: none;
  }
}


:root {
  --primary-color: #f5deb3;
  --text-color: rgba(0, 0, 0, 0.8);
  --text-color2: rgba(0, 0, 0, 0.7);
  --background-color1: #fff;
  --background-color2: #f5f5f5;
  --background-color3: #f5f5f5;
  --colorBgElevated: #ffffff;
  --contentBg: rgb(255, 255, 255);
  --contentBgShadow: rgba(0, 0, 0, 0.1);
  --headerShadow: rgba(38, 93, 221, 0.6);
  --ant-statistic-content-value: #63bcaf;
  --contentTag: rgba(0, 0, 0, 0.8);
  --starBook-box: rgba(255, 255, 255, 0.5);
  --starBook-box-shadow: rgba(0, 0, 0, 0.1);
  --ant-list-item-divider: rgba(5, 5, 5, 0.06);
  --ant-pagination-item-a: rgba(0, 0, 0, 0.88);
  --ant-list-item-even: rgba(249, 249, 249, 0.5);
  --hideDescription: #999999;
}
html[data-theme='dark'] {
  --primary-color: #f5deb3;
  --text-color: rgba(255, 255, 255, 0.8);
  --text-color2: rgba(255, 255, 255, 0.6);
  --background-color1: #121212;
  --background-color2: #000000;
  --background-color3: #111827;
  --colorBgElevated: #f5deb300;
  --contentBg: rgba(69, 62, 62, 0.348);
  --contentBgShadow: rgba(255, 255, 255, 0.1);
  --headerShadow: rgba(16, 0, 240, 0.6);
  --ant-statistic-content-value: #16ffe8;
  --contentTag: #e0f1ffe9;
  --starBook-box: #242222;
  --starBook-box-shadow: rgba(255, 255, 255, 0.1);
  --ant-list-item-divider: rgba(250, 250, 250, 0.06);
  --ant-pagination-item-a: rgba(255, 255, 255, 0.88);
  --ant-list-item-even: #26262c83;
  --hideDescription: #99999930;
}
html {
  width: 100%;
}
.header {
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  padding: 0 20vw;
  box-shadow: 0 10px 400px var(--headerShadow);
  background-color: #111827;
}
body {
  background-color: var(--background-color2);
  color: var(--text-color);
}
.logo {
  letter-spacing: 1px;
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
}
.logo::before {
  content: '\01F426';
  font-size: 30px;
}
.tool-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  color: rgb(199, 199, 199);
  font-size: 25px;
}
.tool-bar div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: background-color 0.1s ease;
}
.tool-bar div:hover {
  background-color: rgba(0, 184, 251, 0.5);
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
}
.Header-Font {
  font-size: 32px;
}
.search-icon {
  position: relative;
  top: 1px;
}
.starBook-icon {
  position: relative;
  top: 3px;
}
.main-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 850px;
  width: 1000px;
  background-color: var(--background-color1);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.Setting {
  color: #c7c7c7 !important;
}
.ant-drawer-content {
  background-color: var(--background-color3) !important;
}
.ant-drawer-close {
  font-size: 18px !important;
  color: var(--text-color1) !important;
}
.ant-drawer-title {
  font-size: 18px !important;
  color: var(--text-color1) !important;
}
